main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 20%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;

  padding: 0 1rem;
}

.item {
  width: 100%;
  text-align: center;
  padding: 5rem 0;
  background-color: #d0ebff;
  box-shadow: 0 12px 20px rgba(20, 101, 101, 0.1);
}

img {
  width: 200px;
  height: 200px;
  margin: 0 30%;
}

body {
  background-color: #a5d8ff;
}

.garbageIcon {
  width: 24px;
  height: 24px;
  fill: #fa5252;
}

.garbageIcon:hover {
  animation-name: tilt-shaking;
  animation-timing-function: ease;
  fill: green;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

form button {
  background: none;
  border: none;
}

form {
  display: inline-block;
  width: 30px;
}
