<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/nav.css">
  </head>
  <body>
    <%- include('navigation.ejs') %>

    <% if(prods.length==0) { %>

    <h1>Looking for medicines!!! Not found :3</h1>

    
    <%  } else { %>

      <% for(let product of prods) { %>

        <h1><%= product.medicine %></h1>

        <h1><%= product.expiry %></h1>

        <img src="<%= product.image %>"
                                alt="not known">
        


       
        <% } %>

        
    <% } %>

    <!-- <form action="/" method="post" enctype="multipart/form-data">
      <label for="medicine">Medicine Name</label>
      <input type="text" name="Medicine Name" />
      <label for="Expiry Date">Expiry Date</label>
      <input type="text" name="expirydaye" />
      <button type="submit">Submit</button>
    </form> -->
  </body>
</html>
